.bg-btn {
    height: 32px;
    font-weight: 500;
    background-color: #34464D;
    border: none;
    border-radius: 5px;
}
.bg-btn-cliente {
    height: 50px;
    font-weight: 500;
    color: white;
    background-color: #34464D;
    border: none;
    border-radius: 5px;
}
.bg-btn-cliente:hover {
    background-color: white;
    color: #34464D;
    border: 1px solid #34464D;
    cursor: pointer;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 1px solid white;
}

.bg-btn:hover {
    background-color: white;
    color: #34464D;
    border: 1px solid #34464D;
    cursor: pointer;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 1px solid white;
}

.list-style-none {
    list-style: none;
}

.person-dv {
    margin-left: 1%;
}

.dados-gerais {
    width: 96%;
    min-height: 150px;
    margin-left: 10px;
    background-color: #34464D;
}

.encap-icon {
    border: 1px solid white;
    margin-right: 4%;
    border-radius: 5px;
}

.input-clientes {
    border: none;
    height: 30px;
}